.container {
    width: 650px;
    border-style: solid;
    border-width: 5px;
    border-color: #b77026;
    background-color: #f1ecd9;
}
.footer {
	width:650px;
	font-family: "Myriad Pro", Myriad;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #603a10;
}
.titlecontainer{
	text-align: center;
	width:650px;
	position: relative;
}
.title {
	font-family: "Myriad Pro", Myriad;
	font-size: 30px;
	font-weight: bold;
	color: #603a10;
}
.successtext {
	width:650px;
	font-family: "Myriad Pro", Myriad;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #dba54a;
}
.emptable {
	border: none;
	width: 650px;
	font-family: "Myriad Pro", Myriad;
	font-size: 12px;
}
tr,td{
	border: none;
	
}
.rightcells{
	text-align: right;
	color: #603a10;
}
.centercells{
	text-align: center;
	color: #603a10;
}

.tableheader{
	border: none;
	font-weight: bold;
	color: #f1ecd9;
	background-color: #b77026;
	font-size: 16px;
	text-align: center;
}
.error {
	color: #603a10;
}
html {
	height: 100%;
    display: table;
    margin: auto;
}

body {
	height: 100%;
    display: table-cell;
    vertical-align: middle;
	background-color: #f1ecd9;
}

.tablebutton{
	height: 30px;
	width: 30px;
}
.titlebutton{
	vertical-align: middle;
	height: 30px;
	width: 30px;
	position:absolute;
	right:19px;
	top:2px;
}
