.container {
    width: 650px;
    border-style: solid;
    border-width: 5px;
    border-color: #54595e;
    background-color: #e8f4fc;
}
.title {
	font-family: "Delicious", "Josefin Slab", "Open Sans";
	font-size: 30px;
	font-weight: bold;
}
tr:first-child{
	font-weight: bold;
	font-color: #e8f4fc;
	background-color: #54595e;
}
.error {
	color: #ff0000;
}
html {
	height: 100%;
    display: table;
    margin: auto;
}

body {
	height: 100%;
    display: table-cell;
    vertical-align: middle;
	background-color: #e8f4fc;
}