.container {
    width: 650px;
    border-style: solid;
    border-width: 5px;
    border-color: #000000;
    background-color: #e8f4fc;
}
.footer {
	width:650px;
	font-family: "Open Sans";
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: #e8f4fc;
}
.title {
	width:600px;
	font-family: "Open Sans";
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
.successtext {
	width:650px;
	font-family: "Open Sans";
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	color: #3d993f;
}
.emptable {
	border: none;
	width: 650px;
	font-family: "Open Sans";
	font-size: 12px;
}
tr,td{
	border: none;
}
.rightcells{
	text-align: right;
}
.tableheader{
	border: none;
	font-weight: bold;
	color: #e8f4fc;
	background-color: #000000;
	font-size: 14px;
	text-align: center;
}
.error {
	color: #ff0000;
}
html {
	height: 100%;
    display: table;
    margin: auto;
}

body {
	height: 100%;
    display: table-cell;
    vertical-align: middle;
	background-color: #000000;
}
.tablebutton{
	height: 30px;
	width: 30px;
}
.titlebutton{
	vertical-align: middle;
	height: 30px;
	width: 30px;
}